fastapi=0.115.6
fastapi[standard]=0.115.6
openai==1.58.1
requests==2.32.3
prompty[azure]==0.1.24
promptflow==1.16.2
promptflow-evals==0.3.2
pandas==2.2.3
azure-monitor-opentelemetry-exporter==1.0.0b32
opentelemetry-instrumentation-fastapi==0.50b0
jsonlines==4.0.0
python-dotenv==1.0.1
azure-search-documents==11.4.0
gunicorn==21.2.0
jupyter==1.1.1
opentelemetry-instrumentation==0.50b0
azure-identity==1.17.1
